[Desktop Entry]
Name=PWSP (Soundpad)
Comment=Let's you play audio files through you microphone
Exec=/usr/bin/pwsp-gui %u
Icon=pwsp
Terminal=false
Type=Application
Categories=Audio
MimeType=x-scheme-handler/soundpad;